In [1]:
frist_name = input('Insert your frist name:')
middle_name = input('Insert your middle name:')
last_name = input ('Insert your last name')

print("Hello", frist_name,middle_name,last_name, "!!" )

Insert your frist name:aminatul
Insert your middle name:mai munah
Insert your last nameal amalah
Hello aminatul mai munah al amalah !!

<h1>Program Hitung luas Dan keliling Persegi Panjang<h1>

In [4]:
nilai_p = input('Insert nilai panjang:')
nilai_1 = input('Insert nilai luas:')

luas =int(nilai_p) * int(nilai_1)
keliling  = 3 * (int(nilai_p) + int(nilai_1))

print("luas =", luas)
print("keliling=", keliling)

Insert nilai panjang:10
Insert nilai luas:20
luas = 200
keliling= 90

In [3]:
#luas => p * l
#keliling => 2 * (p+l) !

panjang = input ('masukan nilai sisi panjang: ')
lebar = input ('masukan nilai sisi lebar: ')

luas = int(panjang) * int(lebar)
keliling = 2 * (int(panjang) + int(lebar))

print("luas persegi panjang:", luas)
print("keliling pesegi panjang:", keliling)

masukan nilai sisi panjang: 5
masukan nilai sisi lebar: 4
luas persegi panjang: 20
keliling pesegi panjang: 18

<h1>Output<h1>

In [5]:
print("25","Mei","2005",sep='-')
print("25","Mei","2005",sep='\n')
print("25","Mei","2005",sep='/')

25-Mei-2005
25
Mei
2005
25/Mei/2005

In [18]:
print("1","3","5","7",sep="*",end="." '\n')
print("1","3","5","7",sep="*" * 5 ,end="." * 10)

1*3*5*7.
1*****3*****5*****7..........

<h1>Menformat dengan indeks<h1>

In [7]:
month_1 ="January"
month_2 ="Febuary"
month_3 ="March"

print("name of month {0},{1}". format(month_1,month_2))

name of month January,Febuary

In [9]:
print("My name {fname} {lname}".format(fname='Aminatul',lname='Maimunah'))

My name Aminatul Maimunah

In [10]:
kampus ="Universutas Nusa Putra"
print(kampus[0]) #U
print(kampus[-1]) #a

#menggunakan range
print(kampus[0:11])
print(kampus[12:2])
print(kampus[-5:1])
print(kampus[:: -1])

U
a
Universutas


artuP asuN satusrevinU

<h1>Interpolasi menggunakan F-string<h1>

In [19]:
p =10
l =20

print(f'Luas Persegi = {l*p}')
print(f'Keliling Persegi = {2*(p+1)}')

Luas Persegi = 200
Keliling Persegi = 22

<h1>Fungsi<h1>

In [21]:
nama_siswa ="Ami,Nelsa,Rini"

print(nama_siswa.split(',')) #Merubah dari string ke list
print('@'.join(student_name.split(','))) #merubah dari list ke string

['Ami', 'Nelsa', 'Rini']
Ami@Nelsa@Rini

In [25]:
name = input("Insert your name:")
birthday = input("Insert your birthday:")

birth = birthday.split('/')
names = name.split()

print(f"your name : {name}")
print(f"date : {birth[0]}")
print(f"month : {birth[1]}")
print(f"year : {birth[2]}")
print(f"Intial : {names[0][0]}{names[1][0]}")

Insert your name:Aminatul Maimunah Al Amalah
Insert your birthday:25/05/2005
your name : Aminatul Maimunah Al Amalah
date : 25
month : 05
year : 2005
Intial : AM